<ul class="sidebar-list">
  <%= link_to "Back", root_path, class: "btn btn-primary" %> <%= link_to "Add new song", new_song_path, class: "btn btn-primary" %>
</ul>

  <% @songs.order_by_title.each do |song| %>
    <div class="box">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-7">
              <h4><%= link_to (song.title), song %></h4>
            </div>
            <div class="profile-img-small">
              <%=link_to (image_tag song.image_url), song %>
            </div>
            <div class="col-md-3 right">
            </div>
          </div>
      </div>
    </div>
  <% end %>
