@import "bootstrap-sprockets";
@import "bootstrap";

.profile-img-large img {
  max-height: 400px;
  max-width: 400px;
}

.profile-img-small img {
  max-height: 200px;
  max-width: 200px;
}

.song-img img {
  max-height: 100px;
  max-width: 100px;
}

html {
  background-color: transparent;
}

// html::after {
//   content: "";
//   background-image: url('http://i.imgur.com/M3qUxW2.jpg');
//   opacity: 0.3;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
// }

body {
  background-image: url('http://i.imgur.com/M3qUxW2.jpg');
  background-color: black;
}

body::after {
  content: "";
  background-image: url('http://i.imgur.com/M3qUxW2.jpg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.navbar-nav > li > .dropdown-menu {
  background-color: rgba(66,139,202,0.7);
  color: white;
  font-style: Helvetica;
  font-size: 20px;
}

.navbar-brand {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
}

.dropdown {
  color: white;
  background-color: transparent;
  font-style: Helvetica;
}

.panel-body {
  background-color: transparent;
}

.form-group {
  width: 800px;
}

.form-container {
  width: 900px
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  width: 30px;
  height: 400px;
  padding: 10px;
  margin: 10px;
}

.panel {
  display: block;
  max-width: 1000px;
  margin: auto;
}

.home {
  color: blue;
}
